@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body {
  --clr-white : hsl(0,0%, 100%);
  --clr-light-gray : hsl(212, 45%, 89%);
  --clr-grayish-blue : hsl(220, 15%, 55%);
  --clr-dark-blue : hsl(218,44%. 22%);
  font-family: 'Outfit', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  display:grid;
  justify-content: center;
  background:var(--clr-light-gray);
  align-items: center;
  height: 100vh;
}
.card{
  display: flex;
  flex-direction: column;
  max-width: 260px;
  padding: 15px;
  border-radius:10px;
  background: var(--clr-white);
  text-align: center;
  line-height: 1.2rem;
}
img {
  border-radius: 10px;
}

h1{
  padding: 10px 10px 0;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-grayish-blue);
}

p{
  padding: 0 10px;
  font-size: 15px;
  font-weight: 400;
  color: var(--clr-grayish-blue);
}
